{{define "page1"}} {{template "header" .}}
<script src="/assets/js/chart.js"></script>
<script src="/assets/js/page1.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/page1.css" />

<div>{{.Content}}</div>

<form method="post">
  <input type="text" name="id" />
  <input type="submit" />
</form>
<div id="leftWrapper">
  <!--
  <ul>
    <li>aaaaaaaaaaa</li>
    <li>bbbbbbbbbbb</li>
    <li>ccccccccccc</li>
    <li>ddddddddddd</li>
    <li>eeeeeeeeeee</li>
    <li>fffffffffff</li>
    <li>ggggggggggg</li>
    <li>hhhhhhhhhhh</li>
    <li>iiiiiiiiiii</li>
  </ul>
  -->
</div>
<div class="chartWrapper">
  <div class="chartAreaWrapper">
    <canvas id="myChart" width="0"></canvas>
  </div>
</div>

{{end}}
