.chartWrapper {
  wdith:100%;
  overflow-x:auto;
}

.chartAreaWrapper {
    height: 300px;
    width: 3000px;
/*  margin-left:-27px; */
}

.leftWrapper {
  width: 200px;
  line-height:26px;
  float:left;
}
