
.wrapper {
  width: 1400px;
  height: 500px;
  overflow: scroll;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  background-color: #666666;
  color: white;
}

thead tr th {
  width: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr th {
  position: sticky;
  left: 0;
}

tbody .head2 {
  text-align: right;
  padding-right: 10px;
}

th,
td {
  padding: 1px;
}

.head_cmd {
  left: 0;
  z-index: 3;
  width: 400px;
}

.head_cmd_value {
  z-index: 2;
  text-align: left;
}

.head_time {
  left: 404;
  z-index: 3;
  width: 70px;
}

.head_time_value {
  text-align: right;
  padding-right: 5px;
  z-index: 2;
}

.pre {
  background-color: green;
}
.web {
  background-color: orange;
}
.comp {
  background-color: blue;
}
.diff {
  background-color: red;
}
